@charset "utf-8";

/******************
initialize setting
******************/

body {
    width: 100vw;
    font-family: 'M PLUS 1p', sans-serif;
    background-color: cornsilk;
}
.gfont {
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: 0.1em;
}

ul {
    list-style: none;
}

html {
  font-size: 1rem;
}

a {
    text-decoration: none;
}
a:hover {
    ext-decoration: none;
}


/******************
common
******************/

.base-container {
    height: 100vh;
    padding: 0 0 0 0;
}
.row {
    max-width: 100vw;
}
.nav-p {
    margin-bottom: 0;
}

/******************
detail
******************/

.logo-outer {
    padding-top: 200px;
}
.logo {
    color: brown;
    letter-spacing: 0.2em;
}
.status li {
    padding-top: 0;
    padding-bottom: 0;
}
.r-list {
    padding: 0 0 2vh 0;
}

/******************
media query
******************/