@charset "utf-8";

/******************
initialize setting
******************/

body {
    font-family: 'M PLUS 1p', sans-serif;
    background-color: cornsilk;
}
.gfont {
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: 0.1em;
}

ul {
    list-style: none;
}

html {
  font-size: 1rem;
}

a {
    text-decoration: none;
}
a:hover {
    ext-decoration: none;
}


/******************
common
******************/

.base-container {
    max-width: 600px;
    padding-top: 5vh;
}


/******************
detail
******************/

.logo-outer {
    padding-top: 200px;
}
.logo {
    color: brown;
    letter-spacing: 0.2em;
}
.description {

}