@charset "utf-8";

/******************
initialize setting
******************/
body {
    font-family: 'M PLUS 1p', sans-serif;
    background-color: cornsilk;
}
.gfont { /*手書きフォント*/
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: 0.1em;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover {
    ext-decoration: none;
}

/******************
common
******************/
.nav-p {
    margin-bottom: 0;
}

/******************
detail
******************/
.index-center {
    margin-top: 20vh;
}
.logout-center {
    margin-top: 25vh;
}
.logo {
    color: brown;
    letter-spacing: 0.2em;
}
.catch {
    font-size: 1.1rem;
}
.logout {
    font-size: 0.9rem;
}
.status {
    background-color: honeydew;
}
#hint_id_password1 ul {
    padding: 0;
}
.alert-danger ul {
    padding: 0;
}
.rank {
    background-color: linen;
}
.one {
    background-color: gold;
}
.two {
    background-color: silver;
}
.three {
    background-color: peru;
}
