@charset "utf-8";


.outer {
	text-align: center;
}
.area-border{
	box-sizing: content-box;
	display: inline-block;
	width: 520px;
	height: 520px;
	border:1px solid black;
}
.area {
	display: inline-block;
	width:520px;
	height: 520px;
	font-size: 0;
	border: 12px solid green;
	background-color: green;
}
.block {
	display: inline-block;
	width: 62px;
	height: 62px;
	background-color: inherit;
    cursor: pointer;
}
.circle {
	width: 60px;
	height: 60px;
	border: 1px solid inherit;
	border-radius: 40px;
}
.set_val {
	display: none;
}

/******************
media query
******************/
@media (min-width: 374px) and (max-width: 761px) {
		.area-border{
		width: 372px;
		height: 372px;
	}
	.area {
		width:372px;
		height: 372px;
		border: 10px solid green;
	}
	.block {
		width: 44px;
		height: 44px;
	}
	.circle {
		width: 42px;
		height:42px;
		border-radius: 28px;
	}
}
