{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}home{% endblock %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <p class="navbar-brand gfont nav-p">welcome! {% if user.is_authenticated %}{{ user }}{% else %}guest{% endif %}</p>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false"
            aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Navber">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'game:ranking' %}">ランキング</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'game:result_list' %}">対戦履歴</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">ログアウト</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ログイン</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">サインアップ</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="{% url 'game:index' %}">タイトルにもどる</a></li>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
{{ form.certifications.errors }}
　
<div class="container">
    <div class="mb-2">
        <p class="py-0 my-1">成績(VS COM)</p>
        <div class="status row no-gutters border p-2">
            {% if user.is_authenticated %}
            <div class="col-6 col-md-3 d-inline-block">対戦回数 {{ user.userprofile.play_count }}回</div>
            <div class="col-6 col-md-3">勝率 {{ user.userprofile.winning_per }}%</div>
            <div class="col-6 col-md-3">勝ち {{ user.userprofile.wins }}回</div>
            <div class="col-6 col-md-3">負け {{ user.userprofile.loses }}回</div>
            <div class="col-12 col-md-3">ハイスコア {{ user.userprofile.hi_score }}</div>
            {% else %}
            <div class="col">ログインするとゲームの結果が記録されるよ</div>
            {% endif %}
        </div>
    </div>

    <div class="mb-2">
        <p class="py-0 my-1 mt-4">ゲーム設定</p>
        <form class="m-0" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-6 col-md-12">
                    {{ form.mode|as_crispy_field }}
                </div>
                <div class="col-6 col-md-12">
                    {{ form.strength|as_crispy_field }}
                </div>
                <div class="col-6 col-md-12">
                    {{ form.color|as_crispy_field }}
                </div>
                <div class="col-6 col-md-12">
                    {{ form.turn|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.hint|as_crispy_field }}
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-secondary text-center btn-block">GAME START</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}

{% block add_js %}
<script src="{% static 'game/js/home.js' %}"></script>
{% endblock %}
