{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}home{% endblock %}

{% block content %}

{{ form.certifications.errors }}
{% if user.is_authenticated %}
<p>対戦回数:{{ user.userprofile.time }}</p>
{% endif %}


<div class="row">
    <div class="col-12">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">GAME START</button>
        </form>
    </div>
</div>
<p><a href="{% url 'home:index' %}">back to title</a></p>

{% endblock %}