{% extends 'base.html' %}
{% load static %}


{% block title %}play{% endblock %}

{% block add_css %}
<link rel="stylesheet" href="{% static 'game/css/reversi.css' %}">
{% endblock %}

{% block content %}
<!--
<div class="row text-center">
    <div class="col">
        <p>対戦モード: {% if set.mode.value == 'computer' %}ひとり{% else %}ふたり{% endif %}</p>
    </div>
    <div class="col">
        <p>ヒントモード: {% if set.hint.value %}ON{% else %}OFF{% endif %}</p>
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <p>ターン: <span id="turn_display">{% if set.turn.value == 'you' %}あなた{% else %}相手{% endif %}</span></p>
    </div>
    <div class="col">
        <p>いろ: <span id="color_display">{% if set.color.value == 'black' %}くろ{% else %}しろ{% endif %}</span></p>
    </div>
</div>
-->



<div class="set_val">
    <p id="mode">{{ set.mode.value }}</p>
    <p id="hint">{{ set.hint.value }}</p>
    <p id="turn">{{ set.turn.value }}</p>
    <p id="color">{{ set.color.value }}</p>
</div>

<div class="row">
    <div class="col-6">
        <p id="log">セットアップしています</p>
    </div>
    <div class="col-1">
        <button id="auto">OFF</button>
    </div>
    <div class="col-2">
        <a href="{% url 'game:play' %}">リトライ</a>
    </div>
    <div class="col-3">
        <a href="{% url 'game:home' %}">ホームへもどる</a>
    </div>

</div>

<div class="outer">
    <div class="area-border">
        <div class="area">
            <div class="block">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>


<!-- Button trigger modal -->
<input id="result" type="hidden" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalCenterTitle">RESULTS!!</h5>
      </div>
      <div class="modal-body">
          <div class="container-fluid">
            <p id="winner">勝者</p>
            <p id="game-result">結果</p>
          </div>
          <div class="modal-footer">
              <a href="{% url 'game:play' %}" class="btn btn-outline-primary">リトライ</a>
              <a href="{% url 'game:home' %}" class="btn btn-outline-secondary">ホームへもどる</a>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block add_js %}
<script src="{% static 'game/js/jquery.color-2.1.2.min.js' %}"></script>
<script src="{% static 'game/js/ajax_setup.js' %}"></script>
<script src="{% static 'game/js/reversi.js' %}"></script>

{% endblock %}