{% extends 'base.html' %}
{% load static %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <p class="navbar-brand gfont nav-p">welcome! {% if user.is_authenticated %}{{ user }}{% else %}guest{% endif %}</p>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false"
            aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Navber">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'game:home' %}">ホームへもどる</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block title %}play{% endblock %}

{% block add_css %}
<link rel="stylesheet" href="{% static 'game/css/reversi.css' %}">
{% endblock %}

{% block content %}

<!-- gamesetting is hidden -->
<div class="set_val">
    <p id="mode">{{ set.mode.value }}</p>
    <p id="strength">{{ set.strength.value }}</p>
    <p id="hint">{{ set.hint.value }}</p>
    <p id="turn">{{ set.turn.value }}</p>
    <p id="color">{{ set.color.value }}</p>
    <p id="you_name">{% if user.is_authenticated %}{{ user }}{% else %}guest{% endif %}</p>
</div>

<div class="container text-center">
    <p id="log" class="h5 pt-5 pb-3">セットアップ中...</p>
</div>

<div class="outer">
    <div class="area-border">
        <div class="area">
            <div class="block">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>

<!-- debug -->
<div class="container text-center">
    <div class="row">
        <div class="col-4">
            <button id="auto">OFF</button>
        </div>
        <div class="col-4">
            <a href="{% url 'game:play' %}">リトライ</a>
        </div>
        <div class="col-4">
            <a href="{% url 'game:home' %}">ホームへ</a>
        </div>
    </div>
</div>
<!-- end debug -->

<!-- Button trigger modal -->
<input id="result" type="hidden" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">

<!-- result modal window -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div class="container-fluid text-center">
              <p class="h5 gfont">RESULTS!</p>
              <div class="container py-2">
                  <p id="winner-name" class="h3 mb-0">勝者の名前</p>
                  <p id="which" class="mt-0 mb-3">どっち？</p>
                  <p id="game-result" class="mb-0">石</p>
                  {% if set.mode.value == "computer" %}
                  <p id="game-score" class="mb-2">スコア</p>
                  {% endif %}
              </div>
          </div>
          <div class="modal-footer">
              <a href="{% url 'game:play' %}" class="btn btn-outline-primary">リトライ</a>
              <a href="{% url 'game:home' %}" class="btn btn-outline-secondary">ホームへもどる</a>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block add_js %}
<script src="{% static 'game/js/jquery.color-2.1.2.min.js' %}"></script>
<script src="{% static 'game/js/ajax_setup.js' %}"></script>
<script src="{% static 'game/js/reversi.js' %}"></script>

{% endblock %}