{% extends 'base.html' %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand gfont" href="{% url 'game:index' %}">welcome! {% if user.is_authenticated %}{{ user }}{% else %}guest{% endif %}</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false"
        aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="Navber">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'game:home' %}">ホームへもどる</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'game:result_list' %}">対戦履歴</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">ログアウト</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ログイン</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">サインアップ</a></li>
            {% endif %}
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
{% if result %}
<div class="container text-center">
<p class="h5 gfont my-3">RANKING</p>
{% for post in result.all %}
<div class="row no-gutters rank border text-center p-2 {% if forloop.counter0 == 0 %}one{% elif forloop.counter0 == 1 %}two{% elif forloop.counter0 == 2 %}three{% endif %}">
    <div class="col-1 font-weight-bold">{{ forloop.counter0|add:"1" }}</div>
    <div class="col-4">{{ post.name }}</div>
    <div class="col-4">{{ post.stone }}</div>
    <div class="col-3">{{ post.score }}</div>
</div>
{% endfor %}
    {% else %}
    <p>まだ遊んでないよ！</p>
    {% endif %}


    <a href="{% url 'game:home' %}" class="btn btn-outline-secondary mt-3">ホームへもどる</a>
</div>
    {% endblock %}