{% extends 'base.html' %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand gfont" href="{% url 'game:index' %}">welcome! {% if user.is_authenticated %}{{ user }}{% else %}guest{% endif %}</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false"
        aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="Navber">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'game:result_list' %}">対戦履歴</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">ログアウト</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ログイン</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">サインアップ</a></li>
            {% endif %}
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
{% if result %}
<div class="text-center">
    <p class="h5 gfont">reversi! RANKING</p>
    <ul class="List-group List-group-flush r-list">
        {% for post in result.all %}
        <li class="List-group-item text-center gfont">
            {{ forloop.counter0|add:"1" }}&ensp;
            {{ post.name }}&ensp;
            {{ post.stone }}&ensp;
            score&nbsp;
            {{ post.score }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>まだ遊んでないよ！</p>
    {% endif %}

    <a href="{% url 'game:home' %}" class="btn btn-outline-secondary text-center">ホームへもどる</a>
</div>
{% endblock %}